# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyA7Prfe_zddcYE8l4V6IdjImLEBNQ6dJ5I
VITE_FIREBASE_AUTH_DOMAIN=allmed-hrms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=allmed-hrms
VITE_FIREBASE_STORAGE_BUCKET=allmed-hrms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=221724396205
VITE_FIREBASE_APP_ID=1:221724396205:web:121343cd768b82823a9424
VITE_FIREBASE_MEASUREMENT_ID=G-2DXK6GRXSB